<mat-tab-group mat-align-tabs = "center">
  <mat-tab label="Camisas" > 

    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">

   <div fxFlex="20"
   fxFlex.lg="15" 
   fxFlex.sm="30">
       <mat-card>
           <mat-card-header>
               <mat-card-title>Camisa 1</mat-card-title>
           </mat-card-header>
           <img mat-card-image src="assets\img\camisa1.jpg">
           <mat-card-content>
               <p>
                   <strong> precio: </strong> 1000
                   <br>
                   <strong> cantidad </strong> 4
               </p>
           </mat-card-content>

           <mat-card-actions>
               <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')">
                   comprar
               </button>
           </mat-card-actions>

       </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Camisa 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\camisa2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>
        
    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Camisa 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\camisa3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Camisa 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\camisa4.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Camisa 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\camisa5.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Camisa 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\camisa6.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

</div>
  </mat-tab>
  <mat-tab label="Pantalonetas" >

    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">

    <div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>pantaloneta 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\pantaloneta1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>pantaloneta 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\pantaloneta2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>pantaloneta 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\pantaloneta3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>
</div>
  </mat-tab>
  <mat-tab label="Gorras" > 
    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">

   <div fxFlex="20"
   fxFlex.lg="15" 
   fxFlex.sm="30">
       <mat-card>
           <mat-card-header>
               <mat-card-title>gorra11</mat-card-title>
           </mat-card-header>
           <img mat-card-image src="assets\img\gorra1.jpg">
           <mat-card-content>
               <p>
                   <strong> precio: </strong> 1000
                   <br>
                   <strong> cantidad </strong> 4
               </p>
           </mat-card-content>
   
           <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
           </mat-card-actions>
   
       </mat-card>
   </div>
   
   <div fxFlex="20"
   fxFlex.lg="15" 
   fxFlex.sm="30">
       <mat-card>
           <mat-card-header>
               <mat-card-title>gorra 1</mat-card-title>
           </mat-card-header>
           <img mat-card-image src="assets\img\gorra2.jpg">
           <mat-card-content>
               <p>
                   <strong> precio: </strong> 1000
                   <br>
                   <strong> cantidad </strong> 4
               </p>
           </mat-card-content>
   
           <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
           </mat-card-actions>
   
       </mat-card>
   </div>
   
   <div fxFlex="20"
   fxFlex.lg="15" 
   fxFlex.sm="30">
       <mat-card>
           <mat-card-header>
               <mat-card-title>gorra 1</mat-card-title>
           </mat-card-header>
           <img mat-card-image src="assets\img\gorra3.jpg">
           <mat-card-content>
               <p>
                   <strong> precio: </strong> 1000
                   <br>
                   <strong> cantidad </strong> 4
               </p>
           </mat-card-content>
   
           <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
           </mat-card-actions>
   
       </mat-card>
   </div>
   
   <div fxFlex="20"
   fxFlex.lg="15" 
   fxFlex.sm="30">
       <mat-card>
           <mat-card-header>
               <mat-card-title>gorra 1</mat-card-title>
           </mat-card-header>
           <img mat-card-image src="assets\img\gorra4.jpg">
           <mat-card-content>
               <p>
                   <strong> precio: </strong> 1000
                   <br>
                   <strong> cantidad </strong> 4
               </p>
           </mat-card-content>
   
           <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
           </mat-card-actions>
   
       </mat-card>
   </div>


</div>    

</mat-tab>
  <mat-tab label="Medias" > 
    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">

   <div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>media 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\media1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>media 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\media2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>media 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\media3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

</div>
  </mat-tab>
  <mat-tab label="Balones" > 

    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">

   <div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>balon 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\balon1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>balon 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\balon2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>balon 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\balon3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

</div>

</mat-tab>
  <mat-tab label="Bolsos" >     
    
    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">

   <div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>morral 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\morral1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>morral 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\morral2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>morral 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\morral3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

</div>
</mat-tab>
  <mat-tab label="Otros" > 

    <div fxLayout="row wrap"
    fxLayout.xs="column"
   fxLayoutAlign="center"
   fxLayoutGap="30px">


   <div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>bufanda 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\bufanda1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>bufanda 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\bufanda2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>bufanda 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\bufanda3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>
<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>llavero 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\llavero1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>llavero 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\llavero2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>llavero 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\llavero3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>reloj 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\reloj1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>termo 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\termo1.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>termo 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\termo2.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>termo 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\termo3.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>

<div fxFlex="20"
fxFlex.lg="15" 
fxFlex.sm="30">
    <mat-card>
        <mat-card-header>
            <mat-card-title>termo 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets\img\termo4.jpg">
        <mat-card-content>
            <p>
                <strong> precio: </strong> 1000
                <br>
                <strong> cantidad </strong> 4
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" mat-raised-button (click)="openDialog('0ms', '0ms')" >
                comprar
            </button>
        </mat-card-actions>

    </mat-card>
</div>
   

</div>
  </mat-tab>
</mat-tab-group>


