<div class="estadio">
    <div fxLayoutAlign="center end">

   </div>
   
</div>

<h1 fxLayoutAlign="center center">Listado de jugadores</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="20px">

    <div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Cristiano Ronaldo</mat-card-title>
                    <mat-card-subtitle>Delantero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\bicho.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 37 años
                    <br>
                    <strong> Nacionalidad </strong> Portugues
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Lionel Messi</mat-card-title>
                    <mat-card-subtitle>Delantero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\messi.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 35 años
                    <br>
                    <strong> Nacionalidad </strong> Argentino
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Kylian Mbappé</mat-card-title>
                    <mat-card-subtitle>Delantero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\mbappe.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 23 años
                    <br>
                    <strong> Nacionalidad </strong> Francés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Erling Haaland</mat-card-title>
                    <mat-card-subtitle>Delantero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\haland.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 22 años
                    <br>
                    <strong> Nacionalidad </strong> Noruego
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Luis Diaz</mat-card-title>
                    <mat-card-subtitle>Delantero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\luis-diaz.png">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 25 años
                    <br>
                    <strong> Nacionalidad </strong> Colombiano
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Maxi Gomez</mat-card-title>
                    <mat-card-subtitle>Delantero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\maxi.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 25 años
                    <br>
                    <strong> Nacionalidad </strong> Colombiano
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Pedri</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\pedri.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 19 años
                    <br>
                    <strong> Nacionalidad </strong> Español
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>


<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Kevin De Bruyne</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\bruyne.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 29 años
                    <br>
                    <strong> Nacionalidad </strong> Belga
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Casemiro</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\casemiro.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 30 años
                    <br>
                    <strong> Nacionalidad </strong> Brasileño
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>
            
        </mat-card>
</div>


<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Cristopher Nkuku</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\nkunku.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 24 años
                    <br>
                    <strong> Nacionalidad </strong> Francés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Kimmich</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\kimmich.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 26 años
                    <br>
                    <strong> Nacionalidad </strong> Alemán
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Sherman Cardenas</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\sherman.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 33 años
                    <br>
                    <strong> Nacionalidad </strong> Colombiano
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Eduard Camavinga</mat-card-title>
                    <mat-card-subtitle>Mediocampista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\camavinga.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 20 años
                    <br>
                    <strong> Nacionalidad </strong> Francés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Trent A-Arnold</mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\arnold.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 23 años
                    <br>
                    <strong> Nacionalidad </strong> Inglés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Ronald Araújo</mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\araujo.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 23 años
                    <br>
                    <strong> Nacionalidad </strong> Uruguayo
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>
            
        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Yerry Mina<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\mina.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 27 años
                    <br>
                    <strong> Nacionalidad </strong> Colombiano
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Harry Maguire<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\maguire.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 27 años
                    <br>
                    <strong> Nacionalidad </strong> Inglés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Matthis De Light<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\de-light.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 23 años
                    <br>
                    <strong> Nacionalidad </strong> Neerlandés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>


<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Achraf Hakimi<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\hakimi.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 23 años
                    <br>
                    <strong> Nacionalidad </strong> Marroquí
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Theo Hernandez<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Defensa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\theo.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 25 años
                    <br>
                    <strong> Nacionalidad </strong> francés
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>


<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Ederson<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Arquero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\ederson.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 27 años
                    <br>
                    <strong> Nacionalidad </strong> Brasileño
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>G Donnaruma<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Arquero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\donnaruma.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 23 años
                    <br>
                    <strong> Nacionalidad </strong> Italiano
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Loris Karius<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Arquero</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\karius.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 27 años
                    <br>
                    <strong> Nacionalidad </strong> Alemán
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>

<div fxFlex="20"
    fxFlex.lg="15" 
    fxFlex.sm="30">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Juan Carlos Osorio<i class="baseline-note_add"></i></mat-card-title>
                    <mat-card-subtitle>Entrenador</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets\img\osorio.jpg">
            <mat-card-content>
                <h3>Informacion</h3>
                <p>
                    <strong> Edad </strong> 61 años
                    <br>
                    <strong> Nacionalidad </strong> Colombiano
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="warn">
                    Ver mas
                </button>
                <button mat-button color="primary">
                    Editar
                </button>
            </mat-card-actions>

        </mat-card>
</div>




    

</div>





