<div class="estadio">
    <div fxLayoutAlign="center end">
   </div>  
</div>

<h1  fxLayoutAlign="center end" class="titulo1">Sobre Nosotros</h1>

<div class="cont-padre">
    <div class="contenedor">
        <div class="box">
            <img src="assets\img\soccer-g2ab5673c4_640.png" alt="">
        </div>
        <div class="box-datos">
            <h1>QUIENES SOMOS?</h1>
            <h2>CEO</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi laboriosam ullam nemo adipisci qui aliquam repellat quibusdam? Autem repudiandae. </p>
        </div>
    </div>
    <div class="contenedor">
        <div class="box">
            <img src="assets\img\soccer-g2ab5673c4_640.png" alt="">
        </div>
        <div class="box-datos" color="primary">
            <h1>MISION</h1>
            <h2>CEO</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi laboriosam ullam nemo adipisci qui aliquam repellat quibusdam? Autem repudiandae. </p>

        </div>
    </div>
    <div class="contenedor">
        <div class="box">
            <img src="assets\img\soccer-g2ab5673c4_640.png" alt="">
        </div>
        <div class="box-datos">
            <h1>VISION</h1>
            <h2>CEO</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi laboriosam ullam nemo adipisci qui aliquam repellat quibusdam? Autem repudiandae. </p>

        </div>
    </div>
    <div class="contenedor">
        <div class="box">
            <img src="assets\img\soccer-g2ab5673c4_640.png" alt="">
        </div>
        <div class="box-datos">
            <h1>OBJECTIVO</h1>
            <h2>CEO</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi laboriosam ullam nemo adipisci qui aliquam repellat quibusdam? Autem repudiandae. </p>

        </div>
    </div>
</div>

<br>
<br>

<div class="fondo">
    <div fxLayoutAlign="center end">
   </div>  
</div>







