<div class="estadio">
    <div fxLayoutAlign="center end">

   </div>
   
</div>

<h1>Boleteria disponible</h1>


<div class="contenedor">
    <div class="contenedor_tarjeta">
            <figure id="tarjeta">
                <img src="assets\img\boleta1.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                    <h2 class="titulo">Partido 1</h2>
                    <h2 class="titulo">Elkinto Puma vs Bucaramanga</h2>
                    <hr>
                    <p> <strong>Fecha: </strong> 01/09/2022 </p>
                    <p> <strong>Localidad: </strong> Sur </p>
                    <p> <strong>Precio: </strong> 10000$ </p>
                    <p> <strong>Cantidad </strong> 10000/322 </p>
                    <div boton-gay>
                        <button class="centrado"  mat-raised-button (click)="openDialog('0ms', '0ms')">comprar</button>
                        </div>
                </figcaption>
            </figure>
    </div>

    <div class="contenedor_tarjeta">
            <figure id="tarjeta">
                <img src="assets\img\boleta2.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                    <h2 class="titulo">Partido 1</h2>
                    <h2 class="titulo">Elkinto Puma vs Bucaramanga</h2>
                    <hr>
                    <p> <strong>Fecha: </strong> 01/09/2022 </p>
                    <p> <strong>Localidad: </strong> Norte </p>
                    <p> <strong>Precio: </strong> 10000$ </p>
                    <p> <strong>Cantidad </strong> 10000/622 </p>
                    <div boton-gay>
                        <button class="centrado"  mat-raised-button (click)="openDialog('0ms', '0ms')">comprar</button>
                        </div>
                </figcaption>
            </figure>
    </div>

    <div class="contenedor_tarjeta">
            <figure id="tarjeta">
                <img src="assets\img\boleta3.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                    <h2 class="titulo">Partido 1</h2>
                    <h2 class="titulo">Elkinto Puma vs Bucaramanga</h2>
                    <hr>
                    <p> <strong>Fecha: </strong> 01/09/2022 </p>
                    <p> <strong>Localidad: </strong> Oriental </p>
                    <p> <strong>Precio: </strong> 10000$ </p>
                    <p> <strong>Cantidad </strong> 10000/122 </p>
                    <div boton-gay>
                        <button class="centrado"  mat-raised-button (click)="openDialog('0ms', '0ms')">comprar</button>
                        </div>
                </figcaption>
            </figure>
    </div>

    <div class="contenedor_tarjeta">
            <figure id="tarjeta">
                <img src="assets\img\boleta4.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                    <h2 class="titulo">Partido 1</h2>
                    <h2 class="titulo">Elkinto Puma vs Bucaramanga</h2>
                    <hr>
                    <p> <strong>Fecha: </strong> 01/09/2022 </p>
                    <p> <strong>Localidad: </strong> Occidental </p>
                    <p> <strong>Precio: </strong> 10000$ </p>
                    <p> <strong>Cantidad </strong> 10000/22 </p>
                    <div boton-gay>
                    <button class="centrado"  mat-raised-button (click)="openDialog('0ms', '0ms')">comprar</button>
                    </div>
                </figcaption>
            </figure>
    </div>
</div>






