<div class="estadio">
    <div fxLayoutAlign="center end">

   </div>
   
</div>

<h2>Estadisticas de los jugadores</h2>

<div class="gal-historia">
    <div class="box">
       <img src="assets\img\bicho.jpg">
       <div class="hover rojo">
           <h2>7</h2>
           <br>
           <h4>Cristiano Ronaldo</h4>
           <br>
           <h4>Delantero</h4>
           <br>
           <h4>Altura: 1.87</h4>
           <br>
           <h4>Minutos Jugados: 800</h4>
           <br>
           <h4>Partidos Jugados: 10</h4>
           <br>
           <h4>goles: 7</h4>
           <br>
           <h4>Asistencias: 2</h4>
       </div>  
    </div>
    <div class="box">
        <img src="assets\img\messi.jpg">
        <div class="hover rojo">
            <h2>10</h2>
            <br>
            <h4>Lionel Messi</h4>
            <br>
            <h4>Delantero</h4>
            <br>
            <h4>Altura: 1.69</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 8</h4>
            <br>
            <h4>Asistencias: 2</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\mbappe.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Kylian Mbappé</h4>
            <br>
            <h4>Delantero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 5</h4>
            <br>
            <h4>Asistencias: 1</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\haland.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Erling Haaland</h4>
            <br>
            <h4>Delantero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 5</h4>
            <br>
            <h4>Asistencias: 1</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\luis-diaz.png">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Luis Diaz</h4>
            <br>
            <h4>Delantero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 9</h4>
            <br>
            <h4>Asistencias: 5</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\maxi.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>maxi Gomez</h4>
            <br>
            <h4>Delantero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 0</h4>
            <br>
            <h4>goles: 0</h4>
            <br>
            <h4>Asistencias: 0</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\pedri.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Pedri</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\bruyne.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Kevin De Bruyne</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\casemiro.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Casemiro</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 0</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\nkunku.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Cristopher Nkuku</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\kimmich.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Kimmich</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\sherman.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Sherman Cardenas</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.59</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 6</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\camavinga.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Camavinga</h4>
            <br>
            <h4>Mediocampista</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\arnold.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Trent Alexader-Arnold</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\araujo.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Ronald Araujo</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\mina.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Yerry Mina</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\maguire.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Harry Maguire</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: -3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\de-light.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Matthis De Light</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\hakimi.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Achraf Hakimi</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\theo.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Theo Hernandez</h4>
            <br>
            <h4>Defensa</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 3</h4>
            <br>
            <h4>Asistencias: 7</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\ederson.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Ederson</h4>
            <br>
            <h4>Arquero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 0</h4>
            <br>
            <h4>Asistencias: 0</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\donnaruma.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Gianluigi Donnaruma</h4>
            <br>
            <h4>Arquero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 0</h4>
            <br>
            <h4>Asistencias: 0</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\karius.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Loris Karius</h4>
            <br>
            <h4>Arquero</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>goles: 0</h4>
            <br>
            <h4>Asistencias: 0</h4>
        </div>  
     </div>
     <div class="box">
        <img src="assets\img\osorio.jpg">
        <div class="hover rojo">
            <h2>17</h2>
            <br>
            <h4>Loris Karius</h4>
            <br>
            <h4>DT</h4>
            <br>
            <h4>Altura: 1.79</h4>
            <br>
            <h4>Minutos Jugados: 800</h4>
            <br>
            <h4>Partidos Jugados: 10</h4>
            <br>
            <h4>Vistorias: 10</h4>
            <br>
            <h4>Derrotas: 0</h4>
        </div>  
     </div>
     
   

<!-- poner el jqery -->
<script 
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>  


<script>
$(document).ready(function(){

 $('.menu-icon').click(function(){ ///llamar menu
   $('nav').slideToggle();  // sacar el menu
     
 })

})    
</script>
